<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.cruisesList}"></title>
</head>
<body>
<div style="padding:5px;margin:5px 0px;background:#ccc;">
    <div style="text-align: right">
        <a th:href="@{/list_of_cruises?lang=en}">EN</a>
        &nbsp;|&nbsp;
        <a th:href="@{/list_of_cruises?lang=ua}">UA</a>
    </div>
    <div style="text-align: left">
        <a th:href="@{/main}" th:utext="#{label.home}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/list_of_cruises}" th:utext="#{label.cruisesList}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/user_info}" th:utext="#{label.userInfo}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/booking_list}" th:utext="#{label.listBook}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:utext="#{label.logOut}"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{login}" th:utext="#{label.submit}" sec:authorize="isAnonymous()"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{reg_form}" th:utext="#{label.reg}" sec:authorize="isAnonymous()"></a>
    </div>
</div>
<div th:switch="${cruises}">
    <h2 th:case="null" th:utext="#{label.cruises.notFound}"></h2>
    <div th:case="*">
        <h2 th:utext="#{label.cruisesList}"></h2>

        <form style="margin-bottom: 5px" th:action="@{/list_of_cruises}">

            <label th:utext="#{label.from}"/>
            <input type="datetime-local" name="cruiseStart" id="cruiseStart" th:value="${cruiseStart}" />
            &nbsp;
            <label th:utext="#{label.to}"/>
            <input type="datetime-local" name="cruiseEnd" id="cruiseEnd" th:value="${cruiseEnd}" />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </form>

        <h2 th:if="${cruises.size() == 0}" th:utext="#{label.cruises.notFound}"></h2>

        <table th:unless="${cruises.size() == 0}" border="3">
            <thead>
            <tr>
                <th th:utext="#{label.id}"></th>
                <th th:utext="#{label.passCapacity}"></th>
                <th th:utext="#{label.route}"></th>
                <th th:utext="#{label.start}"></th>
                <th th:utext="#{label.end}"></th>
                <th th:utext="#{label.price}"></th>
                <th th:utext="#{label.freePlaces}"></th>
            </tr>
            </thead>

            <tbody>
                <tr th:each="cruise : ${cruises}" align="center">
                    <td th:text="${cruise.id}"></td>
                    <td th:text="${cruise.passCapacity}"></td>
                    <td th:text="${cruise.route}"></td>
                    <td th:text="${cruise.start}"></td>
                    <td th:text="${cruise.end}"></td>
                    <td th:text="${cruise.price}"></td>
                    <td th:text="${cruise.freePlaces}"></td>
                    <td sec:authorize="hasRole('USER')" ><a th:href="@{/cruise_book/{id}(id=${cruise.id})}" th:utext="#{label.book}"></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{cruise_update/{id}(id=${cruise.id})}" th:utext="#{label.update}"></a></td>
                    <td sec:authorize="hasRole('ADMIN')"><a th:href="@{cruise_delete/{id}(id=${cruise.id})}" th:utext="#{label.delete}"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p sec:authorize="hasRole('ADMIN')"><a th:href="@{cruise_create}" th:utext="#{label.create}"></a></p>

</div>

<p style="color:red" th:if="${alreadyBooked == true}" th:utext="#{label.alreadyBooked}"></p>
<p style="color:red" th:if="${noFreePlace == true}" th:utext="#{label.noFreePlace}"></p>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/list_of_cruises}]]";
    }
</script>

</body>
</html>