<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.reg}"></title>
</head>
<body>
<div style="padding:5px;margin:5px 0px;background:#ccc;">
    <div style="text-align: right">
        <a th:href="@{/reg_form?lang=en}">EN</a>
        &nbsp;|&nbsp;
        <a th:href="@{/reg_form?lang=ua}">UA</a>
    </div>
    <div style="text-align: left">
        <a th:href="@{/main}" th:utext="#{label.home}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/list_of_cruises}" th:utext="#{label.cruisesList}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/user_info}" th:utext="#{label.userInfo}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/booking_list}" th:utext="#{label.listBook}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:utext="#{label.logOut}"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{login}" th:utext="#{label.submit}" sec:authorize="isAnonymous()"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{reg_form}" th:utext="#{label.reg}" sec:authorize="isAnonymous()"></a>
    </div>
</div>

<h1 th:utext="#{label.reg}"></h1>

<form th:action="@{/process_register}" th:object="${user}" method="post">
    <div>
        <div class="form-group row">
            <label class="col-4 col-form-label" th:utext="#{label.email}"></label>
            <div class="col-8">
                <input type="email" th:field="*{email}" class="form-control" required />

            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label" th:utext="#{label.password}"></label>
            <div class="col-8">
                <input type="password" th:field="*{password}" class="form-control"
                       required minlength="6" maxlength="10"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label" th:utext="#{label.firstName}"></label>
            <div class="col-8">
                <input type="text" th:field="*{firstName}" class="form-control"
                       required minlength="2" maxlength="20"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label" th:utext="#{label.lastName}"></label>
            <div class="col-8">
                <input type="text" th:field="*{lastName}" class="form-control"
                       required minlength="2" maxlength="20" />
            </div>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary" th:utext="#{label.register}"></button>
        </div>
    </div>
</form>

</body>
</html>
