<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.successful.pay}"></title>
</head>
<body>
<div style="padding:5px;margin:5px 0px;background:#ccc;">
    <div style="text-align: right">
        <a th:href="@{/successful_replenish?lang=en}">EN</a>
        &nbsp;|&nbsp;
        <a th:href="@{/successful_replenish?lang=ua}">UA</a>
    </div>
    <div style="text-align: left">
        <a th:href="@{/main}" th:utext="#{label.home}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/list_of_cruises}" th:utext="#{label.cruisesList}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/user_info}" th:utext="#{label.userInfo}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/booking_list}" th:utext="#{label.listBook}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:utext="#{label.logOut}"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{login}" th:utext="#{label.submit}" sec:authorize="isAnonymous()"></a>
        &nbsp;|&nbsp;
        <a th:href="@{reg_form}" th:utext="#{label.reg}" sec:authorize="isAnonymous()"></a>
    </div>
</div>
<h3 th:utext="#{label.successful.pay}"></h3>
<h4><a th:href="@{/user_info}" th:utext="#{label.ok}"></a></h4>

</body>
</html>