<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{label.userInfo}"></title>
</head>
<body>
<div style="padding:5px;margin:5px 0px;background:#ccc;">
    <div style="text-align: right">
        <a th:href="@{/user_info?lang=en}">EN</a>
        &nbsp;|&nbsp;
        <a th:href="@{/user_info?lang=ua}">UA</a>
    </div>
    <div style="text-align: left">
        <a th:href="@{/main}" th:utext="#{label.home}"></a>
        &nbsp;|&nbsp;
        <a th:href="@{/list_of_cruises}" th:utext="#{label.cruisesList}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/user_info}" th:utext="#{label.userInfo}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/booking_list}" th:utext="#{label.listBook}"></a>
        &nbsp;|&nbsp;
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" th:utext="#{label.logOut}"></a>
        &nbsp;|&nbsp;
        <a type="submit" th:href="@{login}" th:utext="#{label.submit}" sec:authorize="isAnonymous()"></a>
        &nbsp;|&nbsp;
        <a th:href="@{reg_form}" th:utext="#{label.reg}" sec:authorize="isAnonymous()"></a>
    </div>
</div>
<h1 th:utext="#{label.userInfo}"></h1>

<form th:object="${user}">

    <table>
        <tr>
            <td th:utext="#{label.firstName}"></td>
            <td th:text="${user.firstName}"></td>
        </tr>
        <tr>
            <td th:utext="#{label.lastName}"></td>
            <td th:text="${user.lastName}"></td>
        </tr>
        <tr>
            <td th:utext="#{label.email}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td th:utext="#{label.moneyAmount}"></td>
            <td th:text="${user.moneyAmount}"></td>
        </tr>
    </table>
</form>


<div sec:authorize="hasRole('USER')">

<form th:action="@{/successful_replenish}" th:object="${money}" th:method="POST">
    <table>
        <tr>
            <td th:utext="#{label.replenish}"></td>
            <td>
                <label><input type='number' name="money" value=''></label>
            </td>
            <p style="color:red" th:if="${wrongAmount == true}" th:utext="#{label.incorrectMoney}"></p>
            <td><button type="submit" th:utext="#{label.confirm}"></button></td>
        </tr>
    </table>
</form>
    <p style="color:red" th:if="${notEnoughMoney == true}" th:utext="#{label.notEnoughMoney}"></p>
<div th:object="${bookingList}">
    <h2 th:if="${bookingList.size() == 0}" th:utext="#{label.bookingList.notFound}"></h2>
    <div th:unless="${bookingList.size() == 0}">
        <h2 th:utext="#{label.listBook}"></h2>
        <table border="3">
            <thead>
            <tr>
                <th th:utext="#{label.id}"></th>
                <th th:utext="#{label.cruise}"></th>
                <th th:utext="#{label.price}"></th>
                <th th:utext="#{label.status}"></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="booking : ${bookingList}">
                <td th:text="${booking.id}"></td>
                <td th:text="${booking.cruise.route}"></td>
                <td th:text="${booking.cruise.price}"></td>
                <td th:text="${booking.status}"></td>
                <td th:if="${booking.status == booking.status.CONFIRMED}"><a th:href="@{booking_pay/{id}(id=${booking.id})}" th:utext="#{label.pay}"></a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</body>
</html>


